.back {
  background-color: #a1a1a154;
}
.left {
  background-color: #fff;
  padding: 5px 10px;
  .profile {
    background: #333;
    border-radius: 5px;
  }
  .add-pipeline {
    margin: 10px 0;
    .btn-pipeline {
      width: 100%;
      background: #333;
      color: white;
      font-size: 14px;
      padding: 5px 5px;
      outline: none;
      box-shadow: none;
    }
  }
  .menu {
    background: #3b3a3a;
    border-radius: 5px;
    color: white;
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      li {
        padding: 8px 10px;
        font-size: 14px;
        border-bottom: 1px solid #a7a7a7;
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
}
.middle {
  background: #ffffff;
  border-radius: 5px;
  .header {
    border-radius: 5px 5px 0 0;
    background-color: #53b697;
    color: white;
    padding: 5px 10px;
    label {
      font-size: 14px;
    }
  }
  .content {
    padding: 10px;
  }
  .dark-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
  }
}
.right {
  background: #ffffff;
  border-radius: 5px;
  .header {
    border-radius: 5px 5px 0 0;
    background-color: #53b697;
    color: white;
    padding: 5px 10px;
    label {
      font-size: 14px;
    }
  }
  .content {
    padding: 10px;
    table {
      width: 100%;
      th {
        background-color: #ededed;
        color: #333;
        font-weight: bold;
      }
      tr.mat-header-row {
        height: 35px;
      }
    }
    .btn-add-new {
      padding: 2px 15px;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      font-size: 13px;
      box-shadow: none;
    }
  }
}
