<div class="container-fluid back">
  <div class="row">
    <div class="col-md-2 pr-2">
      <div class="left">
        <div class="profile p-2 d-flex">
          <div class="mr-2 d-inline-block">
            <img src="https://picsum.photos/50">
          </div>
          <div class="d-inline-block text-white">
            <small>Welcome</small>
            <br />
            <a>Mike Haris</a>
          </div>
        </div>
        <div class="add-pipeline">
          <button class="btn btn-pipeline">Add To Pipeline</button>
        </div>
        <div class="menu">
          <ul>
            <li><a>Setup System</a></li>
            <li><a>Pricing</a></li>
            <li><a>Manage System</a></li>
            <li><a>Banks</a></li>
            <li><a>Sales Agent</a></li>
            <li><a>Pipeline</a></li>
            <li><a>Pipeline</a></li>
            <li><a>Pipeline Search</a></li>
          </ul>
        </div>
        <div class="text-center my-2">
          <p style="color: #343434;font-size: 14px;margin-bottom: 0;">Recently viewed</p>
        </div>
        <div class="menu">
          <ul>
            <li><a>Joe's Burgers</a></li>
            <li><a>Mats Auto Parts</a></li>
            <li><a>Tom's Skate Shop</a></li>
            <li><a>Banks</a></li>
            <li><a>Runte, Nolan</a></li>
            <li><a>View All Recent</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10 pl-2">
      <div class="py-3">
        <div class="row">
          <div class="col-md-6 pr-2">
            <div class="middle">
              <div class="header">
                <label class="mb-0">Rate Review</label>
              </div>
              <div class="content">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label class="dark-label">Decription</label>
                      <input value="March 2016" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                      <label class="dark-label">SIC Code</label>
                      <select class="form-control">
                        <option>5810 RESTAURANT</option>
                        <option>5811 RESTAURANT</option>
                        <option selected>5812 RESTAURANT</option>
                        <option>5813 RESTAURANT</option>
                        <option>5814 RESTAURANT</option>
                      </select>
                    </div>
                    <div class="form-group col-md-7">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="32,032.81" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input value="1,510" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="28,057.36" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input value="1,476" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="19,851.03" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input value="712" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="21,790.31" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input value="1,017" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <label class="dark-label">Total Volume</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="104,731.51" type="text" class="form-control" disabled>
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="dark-label">Total Transactions</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input value="4,715" type="text" class="form-control" disabled>
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <label class="dark-label">Avg Ticket</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="22.21" type="text" class="form-control" disabled>
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="dark-label">Current Rate</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <input value="22.21" type="text" class="form-control" disabled>
                        <div class="input-group-append">
                          <div class="input-group-text">%</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-7">
                      <label class="dark-label">Current Fees</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="3,728.91" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="dark-label">Current Amex Fees</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input value="798.43" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-2">
            <div class="right">
              <div class="header">
                <label class="mb-0">Select Pricing Option</label>
              </div>
              <div class="content">
                <div class="mb-3 text-right">
                  <button class="btn btn-add-new" (click)="this.router.navigate(['new'])">Add</button>
                </div>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                  <ng-container matColumnDef="customDeleteColumn">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let element">
                      <a style="cursor: pointer;" (click)="deletePricing(element)">
                        <span>
                          <i class="material-icons">delete_outline</i>
                        </span>
                      </a>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="customEditColumn">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                      <a style="cursor: pointer;" (click)="editPricing(element)">
                        <span>
                          <i class="material-icons">edit</i>
                        </span>
                      </a>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="savings">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Savings </th>
                    <td mat-cell *matCellDef="let element"> {{element.savings}} </td>
                  </ng-container>
                  <ng-container matColumnDef="residuals">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Residuals </th>
                    <td mat-cell *matCellDef="let element"> {{element.residuals}} </td>
                  </ng-container>
                  <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>