<div class="parent">
  <div class="child">
    <div class="text-center">
      <h6 class="mb-3">Add Pricing</h6>
    </div>
    <form [formGroup]="addForm">
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="nameControl" [(ngModel)]="pricing.name">
          <mat-error *ngIf="addForm.controls['nameControl'].hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Savings</mat-label>
          <input matInput formControlName="savingsControl" [(ngModel)]="pricing.savings">
          <mat-error *ngIf="addForm.controls['savingsControl'].hasError('required')">
            Savings is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Residuals</mat-label>
          <input matInput formControlName="residualsControl" [(ngModel)]="pricing.residuals">
          <mat-error *ngIf="addForm.controls['residualsControl'].hasError('required')">
            Residuals is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Rate</mat-label>
          <input matInput formControlName="rateControl" [(ngModel)]="pricing.rate">
          <mat-error *ngIf="addForm.controls['rateControl'].hasError('required')">
            Rate is required
          </mat-error>
        </mat-form-field>
      </div>
      <button class="btn btn-submit" (click)="addPricing()">Add Pricing</button>
      <hr class="mb-1" />
      <div class="text-right back-home">
        <a (click)="router.navigate(['home'])">Back to Home</a>
      </div>
    </form>
  </div>
</div>