.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(144deg, #8360c3, #2ebf91);
  .child {
    max-width: 360px;
    width: 100%;
    padding: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 9px 60px 0px rgba(85, 128, 255, 0.2);
    h6 {
      color: #8360c3;
    }
    .w-full {
      width: 100%;
    }
    .btn-submit {
      background: #8360c3;
      padding: 7px;
      color: #fff;
      box-shadow: none;
      outline: none;
      border: none;
      width: 100%;
    }
    .back-home {
      font-size: 13px;
      cursor: pointer;
    }
  }
}
