.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(144deg, #00b4db, #0083b0);
  .child {
    max-width: 360px;
    width: 100%;
    padding: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    h6 {
      color: #00b4db;
    }
    .w-full {
      width: 100%;
    }
    .btn-submit {
      background: #00b4db;
      padding: 7px;
      color: #fff;
      box-shadow: none;
      outline: none;
      border: none;
      width: 100%;
    }
    .back-home {
      font-size: 13px;
      cursor: pointer;
    }
  }
}
